#
# MANIFEST.in
#
# Manifest template for creating the PyLudic source distribution.

include MANIFEST.in
include setup.py
include LICENSE
include README.rst
include VERSION
include appData/VERSION
include docs/reference.rst
include docs/version.rst
include EnglishDIctionary.json