#
# MANIFEST.in
#
# Manifest template for creating the PyLudic source distribution.

include MANIFEST.in
include setup.py
include LICENSE
include README.rst

include appData/ED.json
include appData/EnglishDIctionary.json

include appData/docs/ABOUT
include appData/docs/CODECONDUCT
include appData/docs/CONTRIBUTING
include appData/docs/CREDIT
include appData/docs/LICENCE_MIT
include appData/docs/QUESTION
include appData/docs/REFERENCE

