#
# MANIFEST.in
#
# Manifest template for creating the PyLudic source distribution.

include MANIFEST.in
include setup.py
include LICENSE
include README.rst

include scr/appData/ED.json
include scr/appData/EnglishDIctionary.json

include scr/appData/docs/ABOUT
include scr/appData/docs/CODECONDUCT
include scr/appData/docs/CONTRIBUTING
include scr/appData/docs/CREDIT
include scr/appData/docs/LICENCE_MIT
include scr/appData/docs/QUESTION
include scr/appData/docs/REFERENCE

include scr/preSetup/krita-x64-4.1.1-setup.exe
include scr/preSetup/storyboarder-setup-1.7.1.exe

include scr/qss/darkstyle.qss
include scr/qss/nuke.qss
include scr/qss/stylesheet.qss

include scr/tools

include scr/scripts

include scr/plg_ins

include scr/imgs