pip                 >= 20.2.3
PySide2             >= 5.15.1
Shiboken2           >= 5.15.1
PyQtWebEngine       >= 5.15.1
msgpack             >= 1.0.0
winshell            >= 0.6
semantic_version    >= 2.8.5
deprecate           >= 1.0.5
GPUtil              >= 1.4.0
playsound           >= 1.2.2
termcolor           >= 1.1.0
pyjavaproperties    >= 0.7
colorama            >= 0.4.3
python-resize-image >= 1.1.19
validators          >= 0.18.1
click               >= 7.1.2

