
cx_Freeze>=6.1
pytest==5.3.2
pytest-cov==2.8.1
msgpack>=0.6.2
pip>=19.3.1
PyQt5>=5.14.1
PyQtWebEngine>=5.14.0
PyQt5-sip>=12.7.0
winshell>=0.6.0
helpdev>=0.6.10
deprecate>=1.0.5
argparse>=1.4.0
green>=3.1.0
GPUtil>=1.4.0
playsound>=1.2.2
python-resize-image>=1.1.19
WMI>=1.4.9