<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VMPPmaya.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VMPPmaya.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <VMPPmaya.Properties.Settings>
      <setting name="HeadText" serializeAs="String">
        <value>V-RAY MATERIAL PRESETS PRO | MAYA</value>
      </setting>
    </VMPPmaya.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <VMPPmaya.Properties.Settings>
      <setting name="ApplicationVersion" serializeAs="String">
        <value>1.0.2.0</value>
      </setting>
      <setting name="MapPath" serializeAs="String">
        <value>D:\@Lib\__vmmTEX__</value>
      </setting>
      <setting name="PortNo" serializeAs="String">
        <value>7088</value>
      </setting>
    </VMPPmaya.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
